*
{
	padding: 0;
	margin: 0;
	border: 0;
}
body
{
	width: 1920px;
	height: 1080px;
	background-color: white;
}
.ddiv
{
	height:30%;
}
.ddiv2{
	/*height:60%;*/
}
.column {
  float: left;
  width: 48%;
  margin: 2px;
  /*border: 1px solid black*/
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#parent { white-space: nowrap; }
.child { display: inline-block; }
button
{
	width: fit-content;
	padding: 5px 15px;
	font-size: 20px;
}
#console {
	width:50%;
	background-color:black;
	color: lime;
	overflow:hidden
	
}

#search {
	background-color: black;
  	color: white;
  	width: 25%;
}